$horozontal-padding: 20px;
$vertical-padding: 15px;
$border-color: #e5e5e5;

.modal {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;

	&.is-active {
		top: 0;
		left: 0;
		transform: scale(1);
	}
}

.modal__content {
	width: 90%;
	max-width: 700px;
	min-height: 150px;
	background: white;
	border-radius: 4px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.modal__header {
	padding: $vertical-padding $horozontal-padding;
	margin-bottom: $vertical-padding;
	border-bottom: 1px solid $border-color;
}

.modal__body {
	padding: 0 $horozontal-padding;
}

.modal__footer {
	padding: $vertical-padding $horozontal-padding 20px;
	border-top: 1px solid $border-color;
	margin-top: $vertical-padding;

	display: flex;
	justify-content: flex-end;
}