$color-1: #008c84;
$color-2: #90B421;
$color-3: #ecf0b4;
$color-4: #eca100;
$color-5: #004d49;
$color-dark: #333;
$color-light-grey: #e6e6e6;
$color-border: #333;

//nav
$color-nav-button: $color-border;
$color-nav-button-active: #ccc;
$color-nav-button-color: white;
$nav-button-background: transparent;
$nav-button-size: 20px;

//mobile nav
$color-hamburger: #999;
$color-menubar: white;
$color-menuPanel: white;


//structure
$content-width: 1170px;
$content-padding: 20px;
